<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
    <script type="text/javascript" src="{{ url_for('static', filename='display_pet_detail.js') }}"></script>
    <script src="https://kit.fontawesome.com/5497111e88.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <!-- <div class="home">
                <a href="{{ url_for('index') }}">Home</a>
            </div> -->
            <div class="title">
                <i class="fa-solid fa-dog"></i>
                <a href="{{ url_for('index') }}">Purrfect Match</a>
            </div>
            <div class="actions">
                {% if page == "index" %}
                    <p class="action" style="background-color: #ffe5ad; color: #254578;">Adoption</p>
                {% else %}
                    <p class="action">Adoption</p>
                {% endif %}
                <p class="action">Foster</p>
                <p class="action">Donation</p>
                <p class="action">Get Involved</p>
                <p class="action">Contact</p>
            </div>
            <div class="user_action">
                <!-- https://stackoverflow.com/questions/50863789/in-flask-how-can-i-modify-html-with-code-in-python -->
                 <!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xi-facelift -->
                {% if username %}
                    <p class="signin">Welcome, {{username}}</p>
                    <a class="register" href="{{ url_for('profile') }}"">Profile</a>
                    <a class="register" href="{{ url_for('signout') }}">Sign-out</a>
                {% else %}
                    <a class="signin" href="{{ url_for('signin') }}">Sign-in</a>
                    <a class="register" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </nav>
        <nav class="types">
            <div class="pet_type">
                <h3><a href="{{ url_for('dogs_puppies') }}" style="color: #254578;">Dogs & Puppies</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('cats_kittens') }}" style="color: #254578;">Cats & Kittens</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('rabbits_bunnies') }}" style="color: #254578;">Rabbits & Bunnies</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('reptiles') }}" style="color: #254578;">Reptiles</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('farm_animals') }}" style="color: #254578;">Farm Animals</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('other_animals') }}" style="color: #254578;">Other Types of Animals</a></h3>
            </div>
        </nav>
    </header>
    
    <section class="content" style="width: 100%; display: flex; flex-direction: row;">
        <div class="left">
            <nav style="flex-direction: column;background-color: white;">
                <a class="subnav" href="{{ url_for('profile') }}">Personal information</a>
                <a class="subnav" href="{{ url_for('interest_list') }}">Interest List</a>
            </nav>
        </div>
        <div class="right">
            {% if session.get('profile_complete') %}
                <!-- <p>profiled Completed</p> -->
                <p class="questions"><strong>What type of home do you live in?</strong></p>
                {% if user[0] == 1 %}
                    <p class="answer">House</p>
                {% else %}
                    <p class="answer">Apartment</p>
                {% endif %}
                <p class="questions"><strong>Are there children in your household?</strong></p>
                {% if user[1] == 1 %}
                    <p class="answer">Yes</p>
                {% else %}
                    <p class="answer">No</p>
                {% endif %}
                <p class="questions"><strong>Are you open to adopting pets with disabilities or medical needs?</strong></p>
                {% if user[2] == 1 %}
                    <p class="answer">Yes</p>
                {% else %}
                    <p class="answer">No</p>
                {% endif %}
                <p class="questions"><strong>What is your household's general noise and activity level?</strong></p>
                {% if user[3] == 2 %}
                    <p class="answer">High</p>
                {% elif user[3] == 1 %}
                    <p class="answer">Medium</p>
                {% else %}
                    <p class="answer">Low</p>
                {% endif %}
            {% else: %}
                <form class="person_info" method="POST" action="{{ url_for('profile') }}">
                    <div class="questions">
                        <p>What type of home do you live in?</p>
                        <input type="radio" id="living2" name="living" value="1">
                        <label for="living2">House</label><br>
                        <input type="radio" id="living1" name="living" value="0">
                        <label for="living1">Apartment</label><br>
                    </div>

                    <div class="questions">
                    <p>Are there children in your household?</p>
                    <input type="radio" id="child1" name="child" value="1">
                    <label for="child1">Yes</label><br>
                    <input type="radio" id="child2" name="child" value="0">
                    <label for="child2">No</label><br>
                    </div>

                    <div class="questions">
                    <p>Are you open to adopting pets with disabilities or medical needs?</p>
                    <input type="radio" id="special1" name="special" value="1">
                    <label for="special1">Yes</label><br>
                    <input type="radio" id="special2" name="special" value="0">
                    <label for="special2">No</label><br>
                    </div>

                    <div class="questions">
                    <p>What is your household's general noise and activity level?</p>
                    <input type="radio" id="noise1" name="noise" value="2">
                    <label for="noise1">High</label><br>
                    <input type="radio" id="noise2" name="noise" value="1">
                    <label for="special2">Medium</label><br>
                    <input type="radio" id="noise3" name="noise" value="0">
                    <label for="special3">Low</label><br>
                    </div>
                    
                    <input type="submit" value="Submit" style="margin-left: 5%;">
                </form>
            {% endif %}
        </div>
    </section>
</body>
</html>