<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
    <script type="text/javascript" src="{{ url_for('static', filename='display_pet_detail.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='save_animal.js') }}"></script>
    <script src="https://kit.fontawesome.com/5497111e88.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <!-- <div class="home">
                <a href="{{ url_for('index') }}">Home</a>
            </div> -->
            <div class="title">
                <i class="fa-solid fa-dog"></i>
                <a href="{{ url_for('index') }}">Purrfect Match</a>
            </div>
            <div class="actions">
                {% if page == "index" %}
                    <p class="action" style="background-color: #ffe5ad; color: #254578;">Adoption</p>
                {% else %}
                    <p class="action">Adoption</p>
                {% endif %}
                <p class="action">Foster</p>
                <p class="action">Donation</p>
                <p class="action">Get Involved</p>
                <p class="action">Contact</p>
            </div>
            <div class="user_action">
                <!-- https://stackoverflow.com/questions/50863789/in-flask-how-can-i-modify-html-with-code-in-python -->
                 <!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xi-facelift -->
                {% if username %}
                    <p class="signin">Welcome, {{username}}</p>
                    <a class="register" href="{{ url_for('profile') }}"">Profile</a>
                    <a class="register" href="{{ url_for('signout') }}">Sign-out</a>
                {% else %}
                    <a class="signin" href="{{ url_for('signin') }}">Sign-in</a>
                    <a class="register" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </div>
        </nav>
        <nav class="types">
            <div class="pet_type">
                <h3><a href="{{ url_for('dogs_puppies') }}" style="color: #254578;">Dogs & Puppies</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('cats_kittens') }}" style="color: #254578;">Cats & Kittens</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('rabbits_bunnies') }}" style="color: #254578;">Rabbits & Bunnies</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('reptiles') }}" style="color: #254578;">Reptiles</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('farm_animals') }}" style="color: #254578;">Farm Animals</a></h3>
            </div>
            <div class="pet_type">
                <h3><a href="{{ url_for('other_animals') }}" style="color: #254578;">Other Types of Animals</a></h3>
            </div>
        </nav>
    </header>
    <content class="content" id="content">
        <div class="pets_grid" id="pet_list">
            {% for pet in pets %}
                <div class="pet_individual {{pets.liked}}" id="{{ pet.id }}" onclick="display_pet_detail('{{ pet.id }}')">
                    {% if username %}
                        <!-- https://developer.mozilla.org/en-US/docs/Web/API/Event/stopPropagation -->
                        {% if pet.liked %}
                            <i class="fa-solid fa-heart saved" id="heart-{{pet.id}}" onclick="event.stopPropagation(); save_animal('{{pet.id}}', this)"></i><br>
                        {% else %}
                            <i class="fa-solid fa-heart" id="heart-{{pet.id}}" onclick="event.stopPropagation(); save_animal('{{pet.id}}', this)"></i><br>
                        {% endif %}
                    {% endif %}
                    <img src="{{ pet.url[0] }}" alt="{{ pet.name }}">
                    <h2>{{ pet.name }}</h2>
                </div>
            {% endfor %}
        </div>
    </content>
</body>
</html>