<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adoption Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
</head>
<body>
    <div class="home">
        <a class="signin" href="{{ url_for('index') }}">Home</a>
    </div>
    <section class="full_form">
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('register') }}">
            Username: <input type="text" name="username" required="required" ><br><br>
            password: <input type="password" name="password" required="required" ><br><br>
            <input type="submit" value="Submit">
        </form>
    </section>
</body>
</html>