body {
    padding: 50px;
    background-color: #FFB4A2;
}

p {
    color: #2c3129;
    text-align: center;
    font-family: Georgia, serif;
}

.title {
    font-family: Tahoma, sans-serif;
    font-weight: 600;
    font-size: 50px;
    animation-name: bounce;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    color: #6D6875;
}

.titleSmall {
    font-family: Tahoma, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #6D6875;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-20%);
    }
}

form {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
}

input {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
}

label {
    font-family: Tahoma, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center p {
    display: block;
    text-align: center;
    padding: 10px;
}


/* flexbox tutorial I followed: https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01 */

.panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    margin: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
    background-color: #FFCDB2;
    border-radius: 15px;
    border: solid 3px #6D6875;
    /* https://html-css-js.com/css/generator/box-shadow/ */
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.08);
}

.leftPanel {
    flex: 1;
}

.midPanel {
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.rightPanel {
    flex: 1;
    overflow-x: auto;
}

#uploadfile_input {
    text-align-last: center;
}

.file {
    font-size: 16px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}

div .file {
    margin: 6px;
}

.fileLink {
    border: none;
    background: none;
    text-decoration: underline;
    cursor: pointer;
}